* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.navbar {
    background-color: #283137;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-logo {
    font-size: 2rem;
    font-weight: bolder;
    color: white;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1;
    font-size: 1.3rem;
}

.nav-menu ul li {
    float: left;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.555);
    border-radius: 10px;
    margin-right: 5px;
}

.nav-menu li a,
.nav-logo a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 12px 26px;
    font-weight: bold;
}

.nav-menu li a:hover {
    background-color: #5e5d5d;
}

.header,
.welcome {
    position: relative;
}

 

.header-img {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 10px;
    z-index: -1;
    max-width: 100%;
}

.header-img video {
    width: 100%;
    height: auto;
}

.dropdown {
    position: relative;
}

.dropdown-item {
    position: absolute;
    display: none;
}

.dropdown:hover .dropdown-item {
    display: block;
    background-color: #333333;
}

.dropdown ul li {
    float: none;
}

.header-title {
    color: white;
    font-size: 4rem;
    padding-left: 5%;
    opacity: 0.5;
}

h1,
p {
    margin-block-start: 0;
    margin-block-end: 0;
}


.header-box {
    display: flex;
    margin-top: 31%;
}

.box-movie,
.box-news {
    position: relative;
}
.box-movie,
.box-news {
    height: 450px;
}

.box-movie img,
.box-news img{
max-width: 100%;
height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .box-news:hover .overlay,
  .box-movie:hover .overlay {
    opacity: .8;
  }

  .text {
    color: white;
    font-size: 3rem;
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.movie-page {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}




.movie-page,
.cinema-page {
    margin-bottom:50px
}
.movie-card {
    display: flex;
    max-width: 350px;
    height: 175px;
    overflow: hidden;
    margin: 3rem 2rem 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
}

.movie-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  }

.movie-card img {
    max-width: 50%;
    height: auto;
    object-fit: cover;
}

.movie-card-text {
    padding-left: 10px;
    padding-right: 3px;
    font-size: 1.4rem;
}

.movie-card-text h2 {
    padding-bottom: 10px;
    font-size: 2rem;
}

.movie-card-text p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical; 
    overflow:hidden;

}



.news-page {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.news-card {
    display: flex;
    max-width: 550px;
    height: 250px;
    overflow: hidden;
    margin: 3rem 2rem 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
}

.news-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  }

.news-card img {
    max-width: 50%;
    height: auto;
    object-fit: cover;
}

.news-card-text {
    padding: 10px;
    font-size: 1.4rem;
    position: relative;
}

.news-card-text h2 {
    padding-bottom: 5px;
    font-size: 2rem;
}

.news-card-text p {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical; 
    overflow:hidden;
}

.news-date {
    position: absolute;
    right: 0;
    bottom: 0;
}

.news-detail-date {
    text-align: right;
    padding-top: 5px;
    padding-right: 10px;
    font-size: 2rem;
    opacity: 0.6;
}



.cinema-page {
max-width: 80%;
margin-left: auto;
margin-right: auto;
}

.cinema-card {
    height: auto;
    overflow: hidden;
    margin: 3rem 2rem 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
}

.cinema-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  }

.cinema-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cinema-card-text {
    padding-left: 10px;
    padding-right: 3px;
    padding-bottom: 10px;
    font-size: 2rem;
}

.cinema-card-text h2 {
    padding-bottom: 10px;
    font-size: 2rem;
}

.movie-detail {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.movie-detail h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
}

a {
    text-decoration: none;
    color: black;
}

.movie-info {
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 10px;
}
.bg-yellow {
    background-color: #F5C518;
    font-weight: bold;
    padding: 1px 10px;
    border-radius: 10px;
}

.search {
    height: 0;
    width: 100%;
    text-align: center;
    margin: 15px 0 30px 0;
}

.search input:first-child {
    width: 20%;
    margin-right: 15px;
}



@media (max-width: 500px) {
    .header-title {
        font-size: 1.5rem;
    }
}


/* custom */
.movie_details {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #E0DFDE;
}

.movie_detail {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    background-color: #f9f8f7ce;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(255, 255, 255, 0.6);
}

.movie_details .movie-img {
    width: 100%;
}

.movie_details .movie-img img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.movie_details .movie-content {
    padding: 10px 30px 10px 30px;
}

.movie_details .movie-content h1 {
    font-size: 3.4rem;
    margin-bottom: 10px;
}

.movie_details .movie-content p {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 10px;
}


input:first-child {
    height: 30px;
}

input:last-child {
    width: 5%;
    padding: 5px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

input::placeholder {
    text-align: center;
}